* {
    font-family: IosevkaTerm Nerd Font;
    font-size: 16px;
    min-height: 0;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 0px;
}

#waybar {
    background: transparent;
    color: #c6d0f5;
    margin: 2px 2px;
}

#workspaces {
    border-radius: 5px;
    margin: 5px;
    background: #101010;
    margin-left: 1rem;
}

#workspaces button,
#workspaces button * {
    color: #babbf1;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    font-size: 14px;
}

#workspaces button.active,
#workspaces button.active *,
#workspaces button.focused,
#workspaces button.focused * {
    color: #99d1db;
    font-size: 30px;
    font-weight: 700;
}

#workspaces button:hover {
    color: #85c1dc;
    border-radius: 5px;
}

#workspaces button.urgent {
    color: #e78284;
}

#tray,
#backlight,
#window,
#clock,
#pulseaudio,
#cpu,
#memory,
#custom-keyboard-state,
#custom-lock {
    background-color: #101010;
    padding: 0.5rem 1rem;
    margin: 5px 4px;
    border-radius: 0px 5px 5px 0px;
}

#clock {
    color: #8caaee;
    border-radius: 5px;
    margin-right: 1rem;
}

#window {
    color: #babbf1;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    border-radius: 5px;
}

#pulseaudio {
    color: #ea999c;
    border-radius: 5px 0px 0px 5%;
    margin-left: 1rem;
}

#custom-lock {
    border-radius: 5px 0px 0px 5px;
    color: #babbf1;
}

#tray {
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 5px;
}
